/lab-4/bin/
/lab-5/bin/
/lab-6/bin/
/lab-7/bin/
/lab-8/bin/
/lab-9/bin/
/lab-9/obj/
/lab-4/obj/
/lab-5/obj/
/lab-6/obj/
/lab-7/obj/
/lab-8/obj/
/lecture-2/bin/
/lecture-3/bin/
/lecture-4/bin/
/lecture-2/obj/
/lecture-3/obj/
/lecture-4/obj/
/lab-5-solution/bin/
/lab-5-solution/obj/
/lab-6-solution/obj/
/lab-6-solution/bin/